* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body {
    height: 500px;
    width: 100wv;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.phone {
    position: relative;
    height: 350px;
    width: 200px;
    background-color: black;
}
.select{
    height: 50px;
    width: 100%;
    background-color: hsl(0, 0%, 30%);
    display: flex;
    justify-content: center;
    gap: 5px;
}

.seclet button {
    position: absolute;
    bottom: 2px;
    height: 10px;
    width: auto;
    padding: 3px;
    color: white;
}

#test {
    position: absolute;
    bottom: 3px;
    right: 3px;
}
